{% extends 'festival/base.html' %}
{%load staticfiles %}
    {% block title_block %}
        Login
    {% endblock %}
    {% block body_block %}
    <div id="container">
        <section>
            <div id="login">
            <h1>Login</h1>

            <form method="post" action=".">
                {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" placeholder="Enter Username"/> </br> </br>
            Password: <input type="password" name="password" value="" size="50" placeholder="o o o o o o o" /> </br> </br>
            <input type="submit" value="Log In" /> </br> </br>
            <input type="hidden" name="next" value="{{ next }}" /> 
            </form>
            
            <a href="{% url 'auth_password_reset' %}">Forgot Password? </a>
            <div><hr width='15%'></div></br>
            Not got an account? <a href="{% url 'registration_register' %}">Register here!</a>
            </div>
        </section>
    </div>
        
    {% endblock %}