{% extends 'festival/base.html' %}
{%load staticfiles %}
    {% block title_block %}
        Login
    {% endblock %}
    {% block body_block %}
    <div id="container">
        
        <div id="header">
            <img class="header" src="{% static 'images/bg.jpg' %}" alt="Picture of header" />
        </div>
        
        <div class="navigation">
            <ul class="nav">
                <li ><a href="{% url 'festival:about' %}">About</a></li>  
                <li ><a href="{% url 'festival:index' %}">Home</a></li>
                <li ><a href="{% url 'festival:personalCenter' %}">Personal Center</a></li>
                <li ><a href="{% url 'festival:contact' %}">Contact Us</a></li>
                {% if user.is_authenticated %} 
                <a href="{% url 'auth_logout' %}?next={% url 'festival:index' %}" class="btn-3d" style="height: 30px">Logout</a>
                {% else %}
                <a href="{% url 'auth_login' %}" class="btn-3d" style="height: 30px">Login</a>
                {% endif %}
            </ul>  
        </div> 
        
         
        <section>
            <div id="login">
            <h1>Login</h1>

            <form method="post" action=".">
                {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" /> </br> </br>
            Password: <input type="password" name="password" value="" size="50" /> </br> </br>
            <input type="submit" value="Log In" /> </br> </br>
            <input type="hidden" name="next" value="{{ next }}" /> 
            </form>

            
            Forgot Password?
            <div><hr width='15%'></div></br>
            Not got an account? <a href="{% url 'registration_register' %}">Register here!</a>
            

            </div>
        </section>
        
        <div id="footer">
            <div class="navigation" style="text-align: center;">
                © 2022 shareFestival - Cookies & Privacy - Feedback
            </div>
        </div>
    
    </div>
        
    {% endblock %}