#container{
    width:100%;
    background-color:rgb(255, 255, 255);
    }

    #header{
    height:190px;
    }

    img.header{
    height:100%;
    width: 100%;
    background-size:100% 100%
    }

    img.profile
    {
    height:50%;
    width: 30%;
    }

    .navigation{
    height:30px;
    position: relative; 
    top: -16px;/*The distance from the top is -10*/
    margin-bottom: -16px;
    background-color: rgb(238, 153, 56);
    }

    #main{
    height: 650px;
    background: rgb(255, 255, 255);
    text-align: center;
    }

    #login{
    position: relative;
    border-radius: 5px;
    padding: 20px 20px 30px 20px;
    height: 300px;
    margin-top: 2%;
    margin-bottom: 6%;
    margin-left: 32%;
    margin-right: 10%;
    text-align: center;
    font-size: large;
    background: rgb(206, 173, 135);
    display:inline-block;
    }

    #Register{
    position: relative;
    border-radius: 5px;
    padding: 20px 20px 20px 20px;
    height: 400px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 30%;
    margin-right: 5%;
    font-size: large;
    background: rgb(206, 173, 135);
    display:inline-block;
    }

    #contact{
    position: relative;
    border-radius: 5px;
    padding: 20px 20px 30px 20px;
    height: 300px;
    margin-top: 2%;
    margin-bottom: 6%;
    margin-left: 38%;
    margin-right: 10%;
    text-align: center;
    font-size: large;
    background: bisque;
    display:inline-block;
    }

    #footer2{
    text-align:center;
    height:30px;
    position: relative; 
    background-color: rgb(238, 153, 56);
    }


    #main1{
    height: auto;
    background: bisque;
    text-align: center;
    margin-left: 10%;
    margin-right: 5%;
    padding-top: auto;
    width: 80%;
    font-size: 18px;
    line-height: 1.5;
    }

    #body_personnalcenter{
    height: 700px;
    background: rgb(255, 255, 255);
    text-align: center;
    margin-left: 10%;
    margin-right: 5%;
    width: 80%;
    font-size: 18px;
    line-height: 1.5;
    }

    #main_personnalcenter1{
    float:left;
    height: 450px;
    width: 500px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #ffffff;
    }

    #main_personnalcenter2{
    float:left;
    height: 650px;
    width: 700px;
    background-color: #ffffff;
    }

    #personnalcenter_information{
    margin-left: 10%;
    margin-top: 3%;
    border-style:solid;
    border-radius: 10%;
    height: 250px;
    width: 550px;
    background-color: #ffffff;
    }

    #aboutMain{
    margin-left: 10%;
    margin-right: 5%;
    margin-bottom: 5%;
    text-align: center;
    width: 80%;
    font-size: 18px;
    height: 80%;
    line-height: 1.5;
    }
    
    #aboutSection1{
    background-color:bisque;
    }

    #aboutSection2{
    background-color:rgb(238, 176, 101);
    }

    #main_festival{
    height: 300px;
    width: 300px;
    background-color:  rgb(255, 255, 255);
    }

    #main_country{
    margin-top: 7%;
    height: 300px;
    width: 300px;
    text-align: center;
    margin: auto;
    background-color:  rgb(255, 255, 255);
    }

    ul.nav{
    /* clear the default style of the ul tag */
    width: auto;/* width is also changed to auto */
    list-style-type: none;
    white-space:nowrap;
    overflow: hidden;
    margin-left: 5%;
    padding: 0;
    }

    ul.nav>li {
    float:left; /* Make the li content float horizontally, that is, arrange it horizontally */
    margin-right:2%;  /* distance between two li */
    position: relative;
    overflow: hidden;
    }

    ul.nav>li a{
    /* Set the format of the link content display */
    display: block; /* Display the link as a block element to make the entire link area clickable */
    color:white;
    text-align: center;
    padding: 6px;
    overflow: hidden;
    text-decoration: none; /* remove underscore */
    }

    ul.nav>li a:hover{
    /* The background turns black when the mouse is selected */
    background-color: rgb(247, 241, 241);
    color: #1f1919;
    }


    ul.country{
    /* clear the default style of the ul tag */
    width: auto;/* width is also changed to auto */
    list-style-type: none;
    white-space:nowrap;
    overflow: hidden;
    margin-left: 10%;
    padding: 0;
    }

    ul.personnalcenter{
    /* clear the default style of the ul tag */
    width: auto;/* width is also changed to auto */
    list-style-type: none;
    white-space:nowrap;
    overflow: hidden;
    margin-left: 8%;
    padding: 0;
    }

    ul.personnalcenter>li{
    float:left; /* Make the li content float horizontally, that is, arrange it horizontally */
    margin-right:2%;  /* distance between two li */
    position: relative;
    overflow: hidden;
    }


    ul.country>li {
    float:left; /* Make the li content float horizontally, that is, arrange it horizontally */
    margin-right:2%;  /* distance between two li */
    position: relative;
    overflow: hidden;
    }

    ul.country>li.CountryCategory {
    float:left; /* Make the li content float horizontally, that is, arrange it horizontally */
    margin-right:2%;  /* distance between two li */
    position: relative;
    overflow: hidden;
    margin-left:550px;
    }

    ul.country>li.GroupCategory {
    float:left; /* Make the li content float horizontally, that is, arrange it horizontally */
    margin-right:2%;  /* distance between two li */
    position: relative;
    overflow: hidden;
    margin-left:150px;
    }

    ul.country>li.CountryImage {
    float:left; /* Make the li content float horizontally, that is, arrange it horizontally */
    margin-right:2%;  /* distance between two li */
    position: relative;
    overflow: hidden;
    margin-left:200px;
    }

    ul.country>li a{
    /* Set the format of the link content display */
    display: block; /* Display the link as a block element to make the entire link area clickable */
    color:rgb(0, 0, 0);
    text-align: center;
    padding: 3px;
    overflow: hidden;
    text-decoration: none; /* remove underscore */
    background:#ffffff; margin-left:5px;
    }

    ul.country>li a.First{
    /* Set the format of the link content display */
    display: block; /* Display the link as a block element to make the entire link area clickable */
    color:rgb(0, 0, 0);
    text-align: center;
    padding: 3px;
    overflow: hidden;
    text-decoration: none; /* remove underscore */
    background:#ffffff; margin-left:600px;
    }

    ul.country_name{
    /* clear the default style of the ul tag */
    width: auto;/* width is also changed to auto */
    list-style-type: none;
    white-space:nowrap;
    overflow: hidden;
    margin-left: 5%;
    }

    ul.country_name>li {
    float:left; /* Make the li content float horizontally, that is, arrange it horizontally */
    margin-right:2%;  /* distance between two li */
    position: relative;
    overflow: hidden;
    }

    .bg1{
    width: 250px;
    height: 250px;
    position: relative; 
    object-fit: contain;
    }

    .bg2{
    width: 100%;
    height: 100%; 
    }

    .bg3{
    width: 275px;
    height: 275px;
    top: 50px;
    position: relative; 
    }

    .btn-3d {
    position: relative;
    display: inline-block;
    width:100px;
    height: 30px;
    text-align:center;
    line-height:100%;
    font-size: 16px;
    padding: 0.3em;
    color: white;
    margin:2px;
    margin-left: 50%;
    vertical-align:text-bottom;
    zoom:1;
    font-size-adjust:none;
    font-stretch:normal;
    border-radius: 6px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
    margin:2px;
    margin-left: 50%;
    }       

    button.submit {
        margin-left: 85%;
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        }

    button.personalcenter {
    margin-top: 5%;
    margin-left: 5%;
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 5px 10px;
    
    font-size: 14px;
    }

    #aboutcontent {
    margin-left: 10%;
    margin-right: 5%;
    margin-bottom: 5%;
    text-align: right;
    width: 80%;
    font-size: 18px;
    height: 80%;
    line-height: 1.5;
    border: rgb(247, 190, 67);
    background-color: rgb(247, 190, 67);
    }

    #mcontent2 {
    margin-top: 44px;
    margin-left: 0%;
    width: 270px;
    font-size: 14px;
    height: 50%;
    line-height: 1.5;
    }

    a#goback{
    margin-top: -100%;
    padding-left:130px;
    color: black;
    }
    a#gonext{
    margin-top: -100%;
    margin-left: 73%;
    color: black;
    }

    #h1{
    text-align:center;
    }

    #container1 {
    border: 2px solid rgb(238, 176, 101);
    border-radius: 25px;
    background-color: bisque;
    margin-left: 15%;
    margin-right: 15%;
    }

    #userName{
    color: rgb(243, 122, 142);
    }

    #msg{
        color: #4CAF50;
        font-size: 14px;
    }

    #msg2{
    margin-left: 1%;
    margin-bottom: 2px;
    }

    #img {
    float: left;
    max-width: 32px;
    width: 32%;
    border-radius: 2%;
    size: 2%;
    margin-left: 1%;
    }

    #container2 {
    border: 2px solid bisque;
    border-radius: 25px;
    background-color: rgb(236, 175, 101);
    margin-left: 15%;
    margin-right: 15%;
    }

    #txtArea{
    border-radius:5px;
    background-color:rgba(255, 255, 255, 0.98);
    width: 1000px;
    padding: 10px;
    margin-bottom: 2px;
    margin-left: 13px;
    margin-top: 12px;
    }

    #btn{
    background-color: bisque;
    border: none;
    border-radius: 15px;
    color: black;
    padding: 5px;
    width: 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 88%;
    margin-bottom: 5px;
    }

    #btn_pc{
    border-radius: 15px;
    padding: 5px;
    width: 30%;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-left: 380px;
    margin-right: 80px;
    margin-bottom: 5px;
    }

    #profilecontainer{
    border-radius: 5px;
    padding: 20px 20px 30px 20px;
    height: 350px;
    margin-top: 2%;
    margin-bottom: 6%;
    margin-left: 12%;
    margin-right: 10%;
    text-align: center;
    font-size: large;
    background: bisque;
    display:inline-block;
    }
    
    
    .country_select{
        width: 100px;
        height: 30px;
        margin-top: 20px;
        font-size: 16px;
    }