{% extends 'festival/base.html' %}
    {%load staticfiles %}
    
    {% block title_block %}
        About
    {% endblock %} 

    {% block body_block %}
    <div id="container">
        
        <div id="aboutMain">
        <h1>About</h1>

        <section id="aboutSection1">
            <h2>Explore, Enjoy and Experience through ShareFestival</h2>
        <p>
            ShareFestival features an festival guide for everything you need to know about an exiciting festival in different countries. It is a 
            platform to expose our users to different festivals around the world and to share their thoughts and experiences. A way to celebrate our 
            experiences together.
            Beginning with a list of countries to choose from, the website navigates you to the interesting history of the fetsival, 
            then an opportunity to share your experience.
        </p>
        </section>

        <section id="aboutSection2";>
        <h2>Mission</h2> 
        <p>
         Our mission is to become an inspiration and essential to our users to learn and share about their favourite festivals.
        </p>
        </section>

        <section id="aboutSection1">
        <h2>Vision</h2> 
        <p>
            Our vision is to celebrate and promote traditional festivals around the world. 
            Lets make our forgotten histories the future!
        </p>
        </section>

        <section id="aboutSection2";>
        <h2>Milestone</h2> 
        <p>
            ShareFestival was launched in 2022 by 5 masters students from the University of Glasgow. Building on an existing design activity, 
            their concept was to create a website to promote the each country's creativity and tradition through their festivals. Not knowing the 
            countries festivals after relocating was their inspiration to start the website. Thus, they focused on becoming an aid for people like 
            them, to be a educator for people and more over a place to share their experience.

        </p>
        </section>

        </div>  
    </div>
    {% endblock %}