{% extends 'festival/base.html' %}
    {%load staticfiles %}
    
    {% block title_block %}
        ContactUs
    {% endblock %} 

    {% block body_block %}
    <div id="container">

        <div id="contact">
            <h1>Contact Us</h1>

            <p> Location: 2 University Avenue, Glasgow, G12 8QQ</p>
            <p> Telephone: +44 1413302000</p>
            <p> Fax: +44 1413302009</p>
            <p> Email: shareFestival@email.co.uk</p>
            </section>

        </div>
        </div>
    {% endblock %}