{% extends 'festival/base.html' %}
    {%load staticfiles %}
    
    {% block title_block %}
        {% if country %}
            {{ country.countryname }}
        {% else %}
            Unknown Country
        {% endif %}
    {% endblock %} 

    {% block body_block %}
    
    <div id="container">
        
        <div id="header"> <img class="header" src="{% static 'images/Index.png' %}" alt="Picture of header" /></div>
        
        <div class="navigation">
                <ul class="nav">
                    <li ><a href="{% url 'festival:index' %}">ShareFestival</a></li>
                    <li ><a href="{% url 'festival:personalCenter' %}">Personal Center</a></li>
                    <li ><a href="{% url 'festival:about' %}">About</a></li>  
                    {% if user.is_authenticated %} 
                    <a href="{% url 'auth_logout' %}?next={% url 'festival:index' %}" class="btn-3d" style="height: 30px">Logout</a>
                    {% else %}
                    <a href="{% url 'auth_login' %}" class="btn-3d" style="height: 30px">Login</a>
                    {% endif %}
                </ul>  
        </div> 
        
        <div id="main">
                <div>
                    {% if countries %}
                    <ul class="country">
                        <li class="GroupCategory" >Select Country</li>
                        <li class="CountryCategory" >Most Popular</li>
                        {% for country in countries %}
                        <li><a href="{% url 'festival:view_country' country.slug %}">{{country.countryname}}</a></li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <strong>There are no countries present.</strong>
                    {% endif %}
                </div>

                <div>
                    {% if country %}
                        {% if festivals %}
                        <ul class="country">
                            {% for festival in festivals %}
                            <li>
                                <div id="main_festival">
                                    <ul>
                                        <li><img class="bg1" src="{% static 'images/spring.jpg' %}"alt="Picture of Festival" /></li>
                                        <li><a href="{% url 'festival:view_festivalHistory' festival.slug %}">{{festival.festivalname}}</a></li>
                                    </ul>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <strong>No festivals currently in country.</strong>>
                        {% endif %}
                    {% else %}
                        The specified country does not exist.
                    {% endif %}
                </div>
            
        </div>
        
        <div id="footer">

            <div class="navigation">
                <ul>
                <li><a href="{% url 'festival:contactUs' %}">Contact us</a></li>
                </ul>
            </div>

        </div>
    
    </div>
    {% endblock %}
