{% extends 'festival/base.html' %}
    {%load staticfiles %}
    
    {% block title_block %}
        {% if country %}
            {{ country.countryname }}
        {% else %}
            Unknown Country
        {% endif %}
    {% endblock %} 

    {% block body_block %}
    <script type="text/javascript" src="{% static 'js/country.js' %}"></script>
    <div id="container">
        
        <div id="header"> <img class="header" src="{% static 'images/bg.jpg' %}" alt="Picture of header" /></div>
        
        <div class="navigation">
            <ul class="nav">
                <li ><a href="{% url 'festival:about' %}">About</a></li>  
                <li ><a href="{% url 'festival:index' %}">Home</a></li>
                <li ><a href="{% url 'festival:personalCenter' %}">Personal Center</a></li>
                <li ><a href="{% url 'festival:contact' %}">Contact Us</a></li>
                {% if user.is_authenticated %} 
                <a href="{% url 'auth_logout' %}?next={% url 'festival:index' %}" class="btn-3d">Logout</a>
                {% else %}
                <a href="{% url 'auth_login' %}" class="btn-3d">Login</a>
                {% endif %}
            </ul>  
        </div> 
        {% if countries %}
        <select class="country_select" value={{country.countryname}} onchange="jump_to(this.options[this.options.selectedIndex].value)">
            <option>{{country.countryname}}</option>
            {% for count in countries %}
            {% if count.countryname != country.countryname %}
            <option>{{count.countryname}}</option>
            {% endif %}
            {% endfor %}
        </select>
        {% endif %} 

        <h1 id="h1">{{country.countryname|upper}}</h1>
        
        <div id="main">
                <div>
                    {% if country %}
                        {% if festivals %}
                        <ul class="country">
                            {% for festival in festivals %}
                            <li>
                                <div id="main_festival">
                                    <img class="bg1" style="object-fit: cover;" src="{% static 'images/' %}{{festival.countryname}}/{{festival.festivalname}}.jpg"alt="Picture of Festival" />
                                    <a href="{% url 'festival:view_festivalHistory' festival.slug %}">{{festival.festivalname}}</a>
                                    
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <strong>No festivals currently in country.</strong>>
                        {% endif %}
                    {% else %}
                        The specified country does not exist.
                    {% endif %}
                </div>
            
        </div>
        
        <div id="footer2">
                © 2022 shareFestival - Cookies & Privacy - Feedback
        </div>
    
    </div>
    {% endblock %}
