{% extends 'festival/base.html' %}
    {%load staticfiles %}

    {% block title_block %}
        FestivalHistory
    {% endblock %}

    {% block body_block %}
    <div id="container">
        <div class="navigation">
                <ul class="nav">
                    <li ><a href="{% url 'festival:index' %}">ShareFestival</a></li>
                    <li ><a href="{% url 'festival:personalCenter' %}">Personal Center</a></li>
                    <li ><a href="{% url 'festival:about' %}">About</a></li>  

                    {% if user.is_authenticated %} 
                    <a href="{% url 'auth_logout' %}?next={% url 'festival:index' %}" class="btn-3d" style="height: 30px">Logout</a>
                    {% else %}
                    <a href="{% url 'auth_login' %}" class="btn-3d" style="height: 30px">Login</a>
                    {% endif %}

                </ul>  
               
        </div>
        
        <div id="main2">
            <div id="main3"> {% if festival %}
                <textarea id="mcontent" onfocus="setcolor(id)" onblur="savecolor(id)">{{festival.body}}
                </textarea>

                <div>
                    {% if country %}
                    <a id="goback" href="{% url 'festival:view_country' country.slug %}">Click to go back</a>
                    <a id="gonext" href="{% url 'festival:view_shareStory' festival.id %}">Click to share your story</a>
                    {% else %}
                    The specified country does not exist.
                    {% endif %}
                </div>

            {% else %}
            The specified festival does not exist.
            {% endif %} </div>
           
        </div>
        
        <div id="footer">
            <div class="navigation">
                <ul>
                <li><a href="#">Contact us</a></li>
                </ul>
            </div>
        </div>
    
    </div>
        
    {% endblock %}