{% extends 'festival/base.html' %}
    {%load staticfiles %}

    {% block title_block %}
        Login
    {% endblock %}

    {% block body_block %}
    <div id="container">
        
        <div id="header"></div>
        
        <div class="navigation">
                <ul class="nav">
                    <li ><a href="#">ShareFestival</a></li>
                    <li ><a href="#">Personal Center</a></li>
                    <li ><a href="#">About</a></li>  
                </ul>  
        </div>
        
        <div id="main">
            
        </div>
        
        <div id="footer">
        </div>
    
    </div>
        
    {% endblock %}