{% extends 'festival/base.html' %}
    {%load staticfiles %}

    {% block title_block %}
        FestivalHistory
    {% endblock %}

    {% block body_block %}
    <div id="container">
            {% if festival %}
            <h1 id="h1"> {{festival.festivalname}}</h1>
                <div id="main1">  
                  <p>{{festival.body|linebreaks}}</p>
            
                </div>
                <div>
                    {% if country %}
                    <a id="goback" href="{% url 'festival:view_country' country.slug %}">Go Back</a>
                    <a id="gonext" href="{% url 'festival:view_shareStory' festival.id %}">Share Your Story</a>
                    {% else %}
                    The specified country does not exist.
                    {% endif %}
                </div>
                 

            {% else %}
            The specified festival does not exist.
            {% endif %} 
    </div>
        
    {% endblock %}