{% extends 'festival/base.html' %}
    {%load staticfiles %}
    
    {% block title_block %}
    {% endblock %} 

    {% block body_block %}
    <div id="container">
        
        <div id="header">
            <img class="header" src="{% static 'images/Index.png' %}" alt="Picture of Festival" />
        </div>
        
        <div class="navigation">
                <ul class="nav">
                    <li ><a href="{% url 'festival:index' %}">ShareFestival</a></li>
                    <li ><a href="{% url 'festival:personalCenter' %}">Personal Center</a></li>
                    <li ><a href="{% url 'festival:about' %}">About</a></li>  
                    <a href="{% url 'festival:login' %}" class="btn-3d" style="height: 30px">Login</a>
                </ul>  
        </div> 
        
        <div id="main">

                 <div>
                    {% if countries %}
                        <ul class="country">
                            {% for country in countries %}
                            <li>
                                <div id="main_country">
                                    <ul>
                                        <li><img class="bg1" src="{% static 'images/spring.jpg' %}"alt="Picture of Rango" /></li>
                                        <li><a href="{% url 'festival:view_country' country.slug %}">{{country.countryname}}</a></li>
                                    </ul>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% else %}
                    <strong>There are no countries present.</strong>
                    {% endif %} 
        </div>
        
        <div id="footer">

            <div class="navigation">
                <ul>
                <li><a href="{% url 'festival:contactUs' %}">Contact us</a></li>
                </ul>
            </div>

        </div>
    
        </div>
    {% endblock %}
