{% extends 'festival/base.html' %}
    {%load staticfiles %}
    
    {% block title_block %}
    {% endblock %} 

    {% block body_block %}
    <div id="container">
        
        <div id="header"></div>
        
        <div class="navigation">
                <ul class="nav">
                    <li ><a href="#">ShareFestival</a></li>
                    <li ><a href="#">Personal Center</a></li>
                    <li ><a href="#">About</a></li>  
                    <a href="#" class="btn-3d" style="height: 30px">Login</a>
                </ul>  
        </div>
        
        <div id="main">
                 <div>
                     <ul class="country">
                         <li class="GroupCategory" >Select Country</li>
                         <li class="CountryCategory" >Most Popular</li>
                         <li ><strong><a href="#">CHINA</a></strong></li>
                         <li ><a href="#">INDIA</a></li>
                         <li ><a href="#">UK</a></li>
                         <li ><a href="#">US</a></li>
                         <li ><a href="#">ITALY</a></li>
                     </ul>
                 </div>

                 <div>
                    <ul class="country">
                        <li class="CountryImage" > <img class="bg1" src="{% static 'images/spring.jpg' %}"alt="Picture of Rango" /></li>
                        <li> <img class="bg1" src="{% static 'images/Army Day.jpg' %}"alt="Picture of Rango" /></li>
                        <li> <img class="bg1" src="{% static 'images/spring.jpg' %}"alt="Picture of Rango" /></li>
                        <li> <img class="bg1" src="{% static 'images/spring.jpg' %}"alt="Picture of Rango" /></li>
                    </ul>

                    <ul class="country">
                        <li class="CountryImage" > <img class="bg1" src="{% static 'images/spring.jpg' %}"alt="Picture of Rango" /></li>
                        <li> <img class="bg1" src="{% static 'images/Army Day.jpg' %}"alt="Picture of Rango" /></li>
                        <li> <img class="bg1" src="{% static 'images/spring.jpg' %}"alt="Picture of Rango" /></li>
                        <li> <img class="bg1" src="{% static 'images/spring.jpg' %}"alt="Picture of Rango" /></li>
                    </ul>
                 </div>
            
        </div>
        
        <div id="footer">

            <div class="navigation">
                <ul>
                <li><a href="#">Contact us</a></li>
                </ul>
            </div>

        </div>
    
        </div>
    {% endblock %}
