{% extends 'festival/base.html' %}
    {%load staticfiles %}

    {% block title_block %}
        Login
    {% endblock %}

    {% block body_block %}
    <div id="container">
        
        <div id="header"></div>
        
        <div class="navigation">
                <ul class="nav">
                    <li ><a href="#">ShareFestival</a></li>
                    <li ><a href="#">Personal Center</a></li>
                    <li ><a href="#">About</a></li>  
                </ul>  
        </div>
        
        <div id="main">
            <form id="login_form" method="post" action="{% url 'festival:login' %}">
                {% csrf_token %}
                <div class="loginFirst" >Username: <input type="text" name="username" value="" size="50" /></div><br />
                <div class="loginfollow" >Password: <input type="password" name="password" value="" size="50" /></div><br />
                <div class="loginbutton" ><input type="submit" value="Submit" /></div>

                <div class="logintipForget"><u>Forgot Password?</u></div>
                <div><hr width='15%'></div>
                <div class="logintipSignup">Not got an account?<u> Sign up here</u></div>

            </form>
        </div>
        
        <div id="footer">

            <div class="navigation">
                <ul>
                <li><a href="#">Contact Us</a></li>
                </ul>
            </div>

        </div>
    
    </div>
        
    {% endblock %}
