{% extends 'festival/base.html' %}
    {%load staticfiles %}

    {% block title_block %}
        Profile for {{ user.username }}
    {% endblock %}

    {% block body_block %}

    <div id="container">
       <div id="body_personnalcenter">
            <h1 id="h1">Profile Information</h1>
            

            <div id="profilecontainer">
                <img class="profile" src="{% static 'images/user.png' %}" alt="Picture of profile" />
                
                    <p>Username:             {{user.username}}</p>
                    <p>Email:                {{user.email}}</p>

                    <div id="btn_pc">
                     <a href="{% url 'auth_password_reset' %}"> <button type="submit" >Reset Password</button> </a>
                    </div>

            </div>
    </div>
        
    {% endblock %}