{% extends 'festival/base.html' %}
    {%load staticfiles %}

    {% block title_block %}
        Profile for {{ user.username }}
    {% endblock %}

    {% block body_block %}

    <div id="container">
        <div id="header"> <img class="header" src="{% static 'images/bg.jpg' %}" alt="Picture of header" /></div>
        
        <div class="navigation">
            <ul class="nav">
                <li ><a href="{% url 'festival:about' %}">About</a></li>  
                <li ><a href="{% url 'festival:index' %}">Home</a></li>
                <li ><a href="{% url 'festival:personalCenter' %}">Personal Center</a></li>
                <li ><a href="{% url 'festival:contact' %}">Contact Us</a></li>
                {% if user.is_authenticated %} 
                <a href="{% url 'auth_logout' %}?next={% url 'festival:index' %}" class="btn-3d" style="height: 30px">Logout</a>
                {% else %}
                <a href="{% url 'auth_login' %}" class="btn-3d" style="height: 30px">Login</a>
                {% endif %}
            </ul>  
        </div> 
        
        <div id="body_personnalcenter">
            <h1 id="h1">Profile Information</h1>
            

            <div id="profilecontainer">
                <img class="profile" src="{% static 'images/user.png' %}" alt="Picture of profile" />
                
                    <p>Username:             {{user.username}}</p>
                    <p>Email:                {{user.email}}</p>

                    <div id="btn_pc">
                     <a href="{% url 'auth_password_reset' %}"> <button type="submit" >Reset Password</button> </a>
                    </div>

            </div>

        </div>
        <div id="footer2">
            © 2022 shareFestival - Cookies & Privacy - Feedback
        </div>
    
    </div>
        
    {% endblock %}