{% extends 'festival/base.html' %}
    {%load staticfiles %}

    {% block title_block %}
        ShareStory
    {% endblock %}

    {% block body_block %}
    <div id="container">
        <div id="header"> <img class="header" src="{% static 'images/bg.jpg' %}" alt="Picture of header" /></div>
        <div class="navigation">
            <ul class="nav">
                <li ><a href="{% url 'festival:about' %}">About</a></li>  
                <li ><a href="{% url 'festival:index' %}">Home</a></li>
                <li ><a href="{% url 'festival:personalCenter' %}">Personal Center</a></li>
                <li ><a href="{% url 'festival:contact' %}">Contact Us</a></li>
                {% if user.is_authenticated %} 
                <a href="{% url 'auth_logout' %}?next={% url 'festival:index' %}" class="btn-3d">Logout</a>
                {% else %}
                <a href="{% url 'auth_login' %}" class="btn-3d">Login</a>
                {% endif %}
            </ul>  
        </div> 
    
        {% if festival %}
            <h1 id="h1"> ShareStory - {{festival.festivalname}}</h1>
        {% endif %}
            
                {% for story in stories %}
                    <hr>
                    <div id="container1">
                            <strong id="userName"> 
                                <img id="img" src="{% static 'images/user.png' %}"alt="Avatar" />
                                {{ story.user|upper }} 
                            </strong></br>
                            <strong id="msg">
                                {{ story.created|date:"d-m-Y H:i" }}
                            </strong>
                        <div id="msg2">
                          {{ story.body }}
                        </div>
                    </div>
                    
                {% endfor %}
          
            <hr>
            {% if user.is_authenticated %}
                
                <div>
                    
                    <form action="{% url 'story:post_story' festival.id %}" method="post">
                        
                        {% csrf_token %}
                    
                        <div  id="container2">
                            <div class="form-group">
                                <div>
                                    <textarea type="text"  id="txtArea" name="body" maxlength="1250"
                                  rows= "6" placeholder="Share your story" ></textarea>
                                  </div>
                            </div>
                            <button id="btn" type="submit">Post</button>
                        </div>
                    
                    </form>
                    
                </div>
                <br>
                
            {% else %}
                    <br>
                <h5 class="row justify-content-center">
                    Please reply after<a href="{% url 'auth_login' %}">login</a >
                </h5>
                <br>
                
            {% endif%}

        </div>
        
        <div id="footer2">
            © 2022 shareFestival - Cookies & Privacy - Feedback
        </div>
    
    </div>
        
    {% endblock %}