{% extends 'festival/base.html' %}
    {%load staticfiles %}

    {% block title_block %}
        ShareStory
    {% endblock %}

    {% block body_block %}
    <div id="container">
        <div class="navigation">
                <ul class="nav">
                    <li ><a href="#">ShareFestival</a></li>
                    <li ><a href="#">Personal Center</a></li>
                    <li ><a href="#">About</a></li>  
                </ul>  
        </div>
        
        <div id="main1">
            <div><img class="bg3" src="{% static 'images/Army Day.jpg' %}"alt="Picture of Army Day" /></div>
            <textarea id="mcontent2" onfocus="setcolor(id)" onblur="savecolor(id)">
            </textarea>
        </div>
        
        <div id="footer">
            <div class="navigation">
                <ul>
                <li><a href="#">Contact us</a></li>
                </ul>
            </div>
        </div>
    
    </div>
        
    {% endblock %}